.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.901000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.899000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.956000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.704000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1c{margin-left:-4.766088px;}
._3{margin-left:-3.347434px;}
._1{margin-left:-1.482445px;}
._4{width:1.115811px;}
._12{width:3.061981px;}
._17{width:9.731468px;}
._7{width:12.497066px;}
._2{width:13.676667px;}
._11{width:14.872179px;}
._6{width:15.900310px;}
._0{width:17.932800px;}
._16{width:18.970270px;}
._f{width:20.092582px;}
._c{width:21.883282px;}
._9{width:27.277735px;}
._1b{width:33.288964px;}
._d{width:67.268982px;}
._8{width:89.939875px;}
._5{width:106.457866px;}
._1a{width:117.847120px;}
._a{width:430.910471px;}
._b{width:522.490666px;}
._10{width:765.528509px;}
._14{width:772.841639px;}
._13{width:788.498350px;}
._15{width:817.581513px;}
._e{width:893.563091px;}
._18{width:897.884054px;}
._19{width:950.526462px;}
.fc1{color:rgb(0,173,239);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:27.895200px;}
.fs1{font-size:39.850400px;}
.fs0{font-size:47.820800px;}
.y81{bottom:72.000000px;}
.y29{bottom:73.148000px;}
.y28{bottom:85.103000px;}
.y54{bottom:88.230000px;}
.y53{bottom:100.185000px;}
.y27{bottom:101.043000px;}
.y7f{bottom:103.397000px;}
.y80{bottom:107.012000px;}
.y52{bottom:112.141000px;}
.y26{bottom:112.999000px;}
.y7e{bottom:115.352000px;}
.y25{bottom:124.954000px;}
.y51{bottom:136.051000px;}
.y24{bottom:136.909000px;}
.y7d{bottom:148.621000px;}
.y23{bottom:148.864000px;}
.y7a{bottom:154.599000px;}
.y50{bottom:159.961000px;}
.y7c{bottom:164.561000px;}
.y79{bottom:166.554000px;}
.y4f{bottom:171.916000px;}
.y22{bottom:172.774000px;}
.y7b{bottom:176.516000px;}
.y78{bottom:178.509000px;}
.y21{bottom:184.730000px;}
.y4e{bottom:187.857000px;}
.y4d{bottom:199.812000px;}
.y20{bottom:200.670000px;}
.y77{bottom:205.581000px;}
.y4c{bottom:211.767000px;}
.y1f{bottom:216.610000px;}
.y76{bottom:217.536000px;}
.y1e{bottom:232.550000px;}
.y4b{bottom:235.677000px;}
.y75{bottom:241.447000px;}
.y1d{bottom:244.505000px;}
.y4a{bottom:247.632000px;}
.y74{bottom:253.402000px;}
.y49{bottom:259.588000px;}
.y1c{bottom:260.446000px;}
.y73{bottom:265.357000px;}
.y48{bottom:271.543000px;}
.y1b{bottom:272.401000px;}
.y47{bottom:287.483000px;}
.y1a{bottom:288.341000px;}
.y72{bottom:292.429000px;}
.y46{bottom:299.438000px;}
.y19{bottom:300.296000px;}
.y71{bottom:308.370000px;}
.y45{bottom:311.393000px;}
.y18{bottom:312.251000px;}
.y70{bottom:320.325000px;}
.y44{bottom:323.349000px;}
.y17{bottom:324.207000px;}
.y6f{bottom:332.280000px;}
.y6e{bottom:348.220000px;}
.y43{bottom:350.317000px;}
.y16{bottom:351.175000px;}
.y6d{bottom:360.175000px;}
.y42{bottom:362.272000px;}
.y15{bottom:363.130000px;}
.y6c{bottom:372.131000px;}
.y14{bottom:375.085000px;}
.y41{bottom:378.212000px;}
.y13{bottom:387.040000px;}
.y6b{bottom:388.071000px;}
.y40{bottom:390.167000px;}
.y12{bottom:398.996000px;}
.y6a{bottom:400.026000px;}
.y3f{bottom:402.123000px;}
.y11{bottom:410.951000px;}
.y69{bottom:411.981000px;}
.y3e{bottom:418.063000px;}
.y3c{bottom:420.055000px;}
.y68{bottom:427.921000px;}
.y3d{bottom:430.018000px;}
.y3b{bottom:432.010000px;}
.y67{bottom:439.877000px;}
.y10{bottom:449.874000px;}
.y66{bottom:451.832000px;}
.y3a{bottom:458.979000px;}
.yf{bottom:461.829000px;}
.y65{bottom:467.772000px;}
.y39{bottom:470.934000px;}
.y64{bottom:479.727000px;}
.ye{bottom:485.740000px;}
.y38{bottom:486.874000px;}
.y62{bottom:491.682000px;}
.y63{bottom:495.298000px;}
.yd{bottom:497.695000px;}
.y37{bottom:498.829000px;}
.y61{bottom:503.637000px;}
.y36{bottom:510.784000px;}
.y60{bottom:519.578000px;}
.yc{bottom:521.605000px;}
.y35{bottom:522.740000px;}
.y5f{bottom:531.533000px;}
.yb{bottom:533.560000px;}
.y5e{bottom:543.488000px;}
.y34{bottom:546.650000px;}
.ya{bottom:557.471000px;}
.y33{bottom:558.605000px;}
.y5d{bottom:559.428000px;}
.y9{bottom:569.426000px;}
.y32{bottom:570.560000px;}
.y5c{bottom:571.383000px;}
.y31{bottom:586.501000px;}
.y5b{bottom:587.324000px;}
.y8{bottom:596.394000px;}
.y30{bottom:598.456000px;}
.y5a{bottom:599.279000px;}
.y7{bottom:608.349000px;}
.y2f{bottom:610.411000px;}
.y59{bottom:611.234000px;}
.y2e{bottom:622.366000px;}
.y2d{bottom:634.321000px;}
.y58{bottom:638.306000px;}
.y6{bottom:647.273000px;}
.y57{bottom:650.261000px;}
.y5{bottom:657.298000px;}
.y4{bottom:659.228000px;}
.y56{bottom:662.217000px;}
.y2c{bottom:670.187000px;}
.y3{bottom:671.183000px;}
.y2b{bottom:682.142000px;}
.y2{bottom:683.138000px;}
.y55{bottom:686.127000px;}
.y0{bottom:698.000000px;}
.y2a{bottom:698.082000px;}
.y1{bottom:710.037000px;}
.h1{height:1.000000px;}
.h6{height:19.359269px;}
.h4{height:27.656178px;}
.h5{height:27.815579px;}
.h3{height:29.887800px;}
.h2{height:33.474560px;}
.h0{height:792.000000px;}
.w1{width:468.000000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
.x8{left:165.600000px;}
.x9{left:180.544000px;}
.xa{left:190.507000px;}
.xd{left:198.671000px;}
.xe{left:210.164000px;}
.x7{left:215.213000px;}
.x4{left:229.176000px;}
.x2{left:249.917000px;}
.x1{left:256.527000px;}
.x3{left:280.939000px;}
.x5{left:333.782000px;}
.x6{left:339.013000px;}
.xf{left:440.439000px;}
.xb{left:496.012000px;}
.xc{left:509.278000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1c{margin-left:-6.354784pt;}
._3{margin-left:-4.463245pt;}
._1{margin-left:-1.976593pt;}
._4{width:1.487748pt;}
._12{width:4.082641pt;}
._17{width:12.975290pt;}
._7{width:16.662754pt;}
._2{width:18.235556pt;}
._11{width:19.829572pt;}
._6{width:21.200413pt;}
._0{width:23.910400pt;}
._16{width:25.293694pt;}
._f{width:26.790109pt;}
._c{width:29.177709pt;}
._9{width:36.370313pt;}
._1b{width:44.385285pt;}
._d{width:89.691976pt;}
._8{width:119.919833pt;}
._5{width:141.943821pt;}
._1a{width:157.129493pt;}
._a{width:574.547295pt;}
._b{width:696.654221pt;}
._10{width:1020.704679pt;}
._14{width:1030.455518pt;}
._13{width:1051.331134pt;}
._15{width:1090.108684pt;}
._e{width:1191.417454pt;}
._18{width:1197.178739pt;}
._19{width:1267.368617pt;}
.fs2{font-size:37.193600pt;}
.fs1{font-size:53.133867pt;}
.fs0{font-size:63.761067pt;}
.y81{bottom:96.000000pt;}
.y29{bottom:97.530667pt;}
.y28{bottom:113.470667pt;}
.y54{bottom:117.640000pt;}
.y53{bottom:133.580000pt;}
.y27{bottom:134.724000pt;}
.y7f{bottom:137.862667pt;}
.y80{bottom:142.682667pt;}
.y52{bottom:149.521333pt;}
.y26{bottom:150.665333pt;}
.y7e{bottom:153.802667pt;}
.y25{bottom:166.605333pt;}
.y51{bottom:181.401333pt;}
.y24{bottom:182.545333pt;}
.y7d{bottom:198.161333pt;}
.y23{bottom:198.485333pt;}
.y7a{bottom:206.132000pt;}
.y50{bottom:213.281333pt;}
.y7c{bottom:219.414667pt;}
.y79{bottom:222.072000pt;}
.y4f{bottom:229.221333pt;}
.y22{bottom:230.365333pt;}
.y7b{bottom:235.354667pt;}
.y78{bottom:238.012000pt;}
.y21{bottom:246.306667pt;}
.y4e{bottom:250.476000pt;}
.y4d{bottom:266.416000pt;}
.y20{bottom:267.560000pt;}
.y77{bottom:274.108000pt;}
.y4c{bottom:282.356000pt;}
.y1f{bottom:288.813333pt;}
.y76{bottom:290.048000pt;}
.y1e{bottom:310.066667pt;}
.y4b{bottom:314.236000pt;}
.y75{bottom:321.929333pt;}
.y1d{bottom:326.006667pt;}
.y4a{bottom:330.176000pt;}
.y74{bottom:337.869333pt;}
.y49{bottom:346.117333pt;}
.y1c{bottom:347.261333pt;}
.y73{bottom:353.809333pt;}
.y48{bottom:362.057333pt;}
.y1b{bottom:363.201333pt;}
.y47{bottom:383.310667pt;}
.y1a{bottom:384.454667pt;}
.y72{bottom:389.905333pt;}
.y46{bottom:399.250667pt;}
.y19{bottom:400.394667pt;}
.y71{bottom:411.160000pt;}
.y45{bottom:415.190667pt;}
.y18{bottom:416.334667pt;}
.y70{bottom:427.100000pt;}
.y44{bottom:431.132000pt;}
.y17{bottom:432.276000pt;}
.y6f{bottom:443.040000pt;}
.y6e{bottom:464.293333pt;}
.y43{bottom:467.089333pt;}
.y16{bottom:468.233333pt;}
.y6d{bottom:480.233333pt;}
.y42{bottom:483.029333pt;}
.y15{bottom:484.173333pt;}
.y6c{bottom:496.174667pt;}
.y14{bottom:500.113333pt;}
.y41{bottom:504.282667pt;}
.y13{bottom:516.053333pt;}
.y6b{bottom:517.428000pt;}
.y40{bottom:520.222667pt;}
.y12{bottom:531.994667pt;}
.y6a{bottom:533.368000pt;}
.y3f{bottom:536.164000pt;}
.y11{bottom:547.934667pt;}
.y69{bottom:549.308000pt;}
.y3e{bottom:557.417333pt;}
.y3c{bottom:560.073333pt;}
.y68{bottom:570.561333pt;}
.y3d{bottom:573.357333pt;}
.y3b{bottom:576.013333pt;}
.y67{bottom:586.502667pt;}
.y10{bottom:599.832000pt;}
.y66{bottom:602.442667pt;}
.y3a{bottom:611.972000pt;}
.yf{bottom:615.772000pt;}
.y65{bottom:623.696000pt;}
.y39{bottom:627.912000pt;}
.y64{bottom:639.636000pt;}
.ye{bottom:647.653333pt;}
.y38{bottom:649.165333pt;}
.y62{bottom:655.576000pt;}
.y63{bottom:660.397333pt;}
.yd{bottom:663.593333pt;}
.y37{bottom:665.105333pt;}
.y61{bottom:671.516000pt;}
.y36{bottom:681.045333pt;}
.y60{bottom:692.770667pt;}
.yc{bottom:695.473333pt;}
.y35{bottom:696.986667pt;}
.y5f{bottom:708.710667pt;}
.yb{bottom:711.413333pt;}
.y5e{bottom:724.650667pt;}
.y34{bottom:728.866667pt;}
.ya{bottom:743.294667pt;}
.y33{bottom:744.806667pt;}
.y5d{bottom:745.904000pt;}
.y9{bottom:759.234667pt;}
.y32{bottom:760.746667pt;}
.y5c{bottom:761.844000pt;}
.y31{bottom:782.001333pt;}
.y5b{bottom:783.098667pt;}
.y8{bottom:795.192000pt;}
.y30{bottom:797.941333pt;}
.y5a{bottom:799.038667pt;}
.y7{bottom:811.132000pt;}
.y2f{bottom:813.881333pt;}
.y59{bottom:814.978667pt;}
.y2e{bottom:829.821333pt;}
.y2d{bottom:845.761333pt;}
.y58{bottom:851.074667pt;}
.y6{bottom:863.030667pt;}
.y57{bottom:867.014667pt;}
.y5{bottom:876.397333pt;}
.y4{bottom:878.970667pt;}
.y56{bottom:882.956000pt;}
.y2c{bottom:893.582667pt;}
.y3{bottom:894.910667pt;}
.y2b{bottom:909.522667pt;}
.y2{bottom:910.850667pt;}
.y55{bottom:914.836000pt;}
.y0{bottom:930.666667pt;}
.y2a{bottom:930.776000pt;}
.y1{bottom:946.716000pt;}
.h1{height:1.333333pt;}
.h6{height:25.812358pt;}
.h4{height:36.874903pt;}
.h5{height:37.087439pt;}
.h3{height:39.850400pt;}
.h2{height:44.632747pt;}
.h0{height:1056.000000pt;}
.w1{width:624.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
.x8{left:220.800000pt;}
.x9{left:240.725333pt;}
.xa{left:254.009333pt;}
.xd{left:264.894667pt;}
.xe{left:280.218667pt;}
.x7{left:286.950667pt;}
.x4{left:305.568000pt;}
.x2{left:333.222667pt;}
.x1{left:342.036000pt;}
.x3{left:374.585333pt;}
.x5{left:445.042667pt;}
.x6{left:452.017333pt;}
.xf{left:587.252000pt;}
.xb{left:661.349333pt;}
.xc{left:679.037333pt;}
}
